/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
{
    font-family: 'Open Sans', sans-serif;
    color:#4d4d4d;
    background-color:#9EAE9F;
}
div /*wrapper */
{
    margin:auto;
    width:30%;
    background-color:#FFFFFF;
    padding:10%;
    text-align:center;
}
h1
{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-size:1.75em;
}